# Twitter authentication information
TWITTER_USERNAME = ""
TWITTER_PASSWORD = ""

# set to a database URI according to sqlalchemy's scheme for the database to dump stored tweets into
DATABASE_URI = ""

